# Ejercicio ETL 1 basic-Carga

In [1]:
#algunas librerias importantes

In [5]:
# Importando las librerias
import pandas as pd
import glob
import os
# Seteamos el directorio a buscar los archivos
#D:\ANALYTIC_PYTHON\EntornoPython\ETL DATASET\World Cup
path = r'D:\ANALYTIC_PYTHON\EntornoPython\ETL DATASET\World Cup\Raw'
#cambiamos el path
os.chdir(path)
#
files = glob.glob( '*.csv')
print(files)

['Diciembre_2022.csv', 'Enero_2023.csv', 'Febrero_2023.csv', 'Marzo_2023.csv', 'Noviembre_2022.csv']

In [6]:
# Creamos una lista en blanco para cargar los datasets
li = []
# Realizaremos un loop sobre cada archivo, lo leeremos y lo juntaremos.

for f in files:
    # Leemos el archivo
    temp_df = pd.read_csv(f ,sep=';')
    # agregamos a la lista los dataframes
    li.append(temp_df)
    print(f'Dataframe creado exitosamente para {f} con un tamañao {temp_df.shape}')

# Uniremos todos los dataframe en uno
df = pd.concat(li, axis=0)
print(df.shape)
df.head()
df.to_csv(r'D:\ANALYTIC_PYTHON\EntornoPython\ETL DATASET\World Cup\Consolidado\Merge1.csv')

Dataframe creado exitosamente para Diciembre_2022.csv con un tamañao (24, 6)
Dataframe creado exitosamente para Enero_2023.csv con un tamañao (40, 6)
Dataframe creado exitosamente para Febrero_2023.csv con un tamañao (40, 6)
Dataframe creado exitosamente para Marzo_2023.csv con un tamañao (40, 6)
Dataframe creado exitosamente para Noviembre_2022.csv con un tamañao (40, 6)
(184, 6)

In [4]:
#Pasemos el codigo a un Py
#se pasó el codigo desde el pychram
#cramos un archivo py llamado ETL1_python.py

# Ejercicio ETL 1 Basic-Carga-Mejorado

In [7]:
#crearemos una funcion para leer solo algunas columnas

def leer_csv(path="",column_name =[] , sep=';'):
    
    if len(column_name) == 0:
        
        df = pd.read_csv(path, sep=';')
        
    else:
        
        df = pd.read_csv(path,usecols = column_name, sep=';')
        
    return df

#puede ser asi
#leer_csv(path=files[0] ,column_name =["Date", "Time", "Away"], sep=';')

#o puede ser asi
leer_csv(path=files[0] ,column_name =[], sep=';')

,Date,Time,Home,Away,Attendance,Venue
0,01 December 2022,18:00 (20:30),Canada,Morocco,"43,102",Al Thumama Stadium
1,01 December 2022,18:00 (20:30),Croatia,Belgium,"43,984",Ahmed bin Ali Stadium
2,01 December 2022,22:00 (00:30),Costa Rica,Germany,"67,054",Al Bayt Stadium
3,01 December 2022,22:00 (00:30),Japan,Spain,"44,851",Khalifa International Stadium
4,02 December 2022,18:00 (20:30),Korea Republic,Portugal,"44,097",Education City Stadium
5,02 December 2022,18:00 (20:30),Ghana,Uruguay,"43,443",Al Janoub Stadium
6,02 December 2022,22:00 (00:30),Cameroon,Brazil,"85,986",Lusail Iconic Stadium
7,02 December 2022,22:00 (00:30),Serbia,Switzerland,"41,378",Stadium 974
8,03 December 2022,18:00 (20:30),Netherlands,USA,"44,846",Khalifa International Stadium
9,03 December 2022,22:00 (00:30),Argentina,Australia,"45,032",Ahmed bin Ali Stadium
10,04 December 2022,18:00 (20:30),France,Poland,"40,989",Al Thumama Stadium (Neutral Site)
11,04 December 2022,22:00 (00:30),England,Senegal,"65,985",Al Bayt Stadium
12,05 December 2022,18:00 (20:30),Japan,Croatia,"42,523",Al Janoub Stadium
13,05 December 2022,22:00 (00:30),Brazil,Korea Republic,"43,847",Stadium 974
14,06 December 2022,18:00 (20:30),Morocco,Spain,"44,667",Education City Stadium
15,06 December 2022,22:00 (00:30),Portugal,Switzerland,"83,720",Lusail Iconic Stadium
16,09 December 2022,18:00 (20:30),Croatia,Brazil,"43,893",Education City Stadium
17,09 December 2022,22:00 (00:30),Netherlands,Argentina,"88,235",Lusail Iconic Stadium
18,10 December 2022,18:00 (20:30),Morocco,Portugal,"44,198",Al Thumama Stadium
19,10 December 2022,22:00 (00:30),England,France,"68,895",Al Bayt Stadium
20,13 December 2022,22:00 (00:30),Argentina,Croatia,"88,966",Lusail Iconic Stadium
21,14 December 2022,22:00 (00:30),France,Morocco,"68,294",Al Bayt Stadium
22,17 December 2022,18:00 (20:30),Croatia,Morocco,"44,137",Khalifa International Stadium
23,18 December 2022,18:00 (20:30),Argentina,France,"88,966",Lusail Iconic Stadium

In [11]:
# Importando las librerias
import pandas as pd
import glob
import os
# Seteamos el directorio a buscar los archivos
path = r'D:\ANALYTIC_PYTHON\EntornoPython\ETL DATASET\World Cup\Raw'
#cambiamos el path
os.chdir(path)
# vamos  a buscar todos los archivos que son csv
files = glob.glob('*.csv')
print(files)

['Diciembre_2022.csv', 'Enero_2023.csv', 'Febrero_2023.csv', 'Marzo_2023.csv', 'Noviembre_2022.csv']

In [12]:
import shutil
# Creamos una lista en blanco para cargar los datasets
li = []
# Realizaremos un loop sobre cada archivo, lo leeremos y lo juntaremos.

path_salida = 'D:/ANALYTIC_PYTHON/EntornoPython/ETL DATASET/World Cup/Procesado/'

for f in files:
    # Leemos el archivo
    temp_df = leer_csv(f ,sep=';')
    # agregamos a la lista los dataframes
    li.append(temp_df)
    
    #Moviendo archivos a la capa de Procesado
    shutil.move(f, path_salida+f)

    print(f'Dataframe creado exitosamente para {f} con un tamañao {temp_df.shape}')

# Uniremos todos los dataframe en uno
df = pd.concat(li, axis=0)
print(df.shape)
df.head()

Dataframe creado exitosamente para Diciembre_2022.csv con un tamañao (24, 6)
Dataframe creado exitosamente para Enero_2023.csv con un tamañao (40, 6)
Dataframe creado exitosamente para Febrero_2023.csv con un tamañao (40, 6)
Dataframe creado exitosamente para Marzo_2023.csv con un tamañao (40, 6)
Dataframe creado exitosamente para Noviembre_2022.csv con un tamañao (40, 6)
(184, 6)

,Date,Time,Home,Away,Attendance,Venue
0,01 December 2022,18:00 (20:30),Canada,Morocco,"43,102",Al Thumama Stadium
1,01 December 2022,18:00 (20:30),Croatia,Belgium,"43,984",Ahmed bin Ali Stadium
2,01 December 2022,22:00 (00:30),Costa Rica,Germany,"67,054",Al Bayt Stadium
3,01 December 2022,22:00 (00:30),Japan,Spain,"44,851",Khalifa International Stadium
4,02 December 2022,18:00 (20:30),Korea Republic,Portugal,"44,097",Education City Stadium

In [13]:
path_final = 'D:/ANALYTIC_PYTHON/EntornoPython/ETL DATASET/World Cup/Consolidado/'

df.to_csv(path_final+"MergeFinal.csv",index=False)

# Ejercicio ETL 2 Intermedio-Carga

### CREANDO SEGMENTACION DE LOS DATOS

In [45]:
# Importando las librerias
!pip install openpyxl
import pandas as pd
import glob
# Seteamos el directorio a buscar los archivos
# vamos  a buscar todos los archivos que son csv

#D:\ANALYTIC_PYTHON\EntornoPython\ETL DATASET
    
path = r'D:\ANALYTIC_PYTHON\EntornoPython\ETL DATASET\Dataset_ ventas'
#cambiamos el path
os.chdir(path)
files = glob.glob( '*.xlsx')
print(files)

Requirement already satisfied: openpyxl in d:\analytic_python\entornopython\venv\lib\site-packages (3.1.1)
Requirement already satisfied: et-xmlfile in d:\analytic_python\entornopython\venv\lib\site-packages (from openpyxl) (1.1.0)
['Archivo_procesado.xlsx', 'Consolidado.xlsx', 'Sample - Superstore.xlsx']

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [46]:
#Cargamos el archivo
df = pd.read_excel(files[2])

In [47]:
#recorremos por año y por mes
year = df['Order Date'].dt.year.unique()
month = df['Order Date'].dt.month.unique()
#realizamos el cambio de numero por mes 
dic = {1:"Enero", 2:"Febrero", 3:"Marzo", 4:"Abril", 5:"Mayo", 6:"Junio", 7:"Julio", 8:"Agosto", 9:"Septiembre", 10:"Octubre", 11:"Noviembre", 12:"Diciembre"}

In [48]:
year

array([2016, 2015, 2014, 2017], dtype=int64)

In [49]:
month

array([11,  6, 10,  4, 12,  5,  8,  7,  9,  1,  3,  2], dtype=int64)

In [50]:
#Realizamos un loop por año y mes
for y in year:
    if not os.path.exists(path+"\\"+str(y)):
            os.mkdir(path+"\\"+str(y))
    for m in month:
        tmp = df[(df['Order Date'].dt.year==y) & (df['Order Date'].dt.month==m) ]
        #Si la ruta no existe la creara
        if not os.path.exists(path+"\\"+str(y)+"\\"+dic.get(m)):
            os.mkdir(path+"\\"+str(y)+"\\"+dic.get(m))
        tmp.to_excel(path+"\\"+str(y)+"\\"+dic.get(m)+"\\"+str(y)+dic.get(m)+".xlsx")

### Leyendo los datos de la  subcarpetas

In [57]:
!pip install tqdm
import tqdm
path = r'D:\ANALYTIC_PYTHON\EntornoPython\ETL DATASET\Dataset_ ventas'

# Creare una lista para guardar los dataframe
procesado = []

#creare una lista para guardar los archivos procesados
archivo_procesado = []

archivo_por_procesar = glob.glob(f'{path}/*/**/*.xlsx', recursive=True)

Requirement already satisfied: tqdm in d:\analytic_python\entornopython\venv\lib\site-packages (4.65.0)
Requirement already satisfied: colorama in d:\analytic_python\entornopython\venv\lib\site-packages (from tqdm) (0.4.6)

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [58]:
#mostrar los archivos encontrados
archivo_por_procesar

['D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2014\\Abril\\2014Abril.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2014\\Agosto\\2014Agosto.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2014\\Diciembre\\2014Diciembre.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2014\\Enero\\2014Enero.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2014\\Febrero\\2014Febrero.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2014\\Julio\\2014Julio.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2014\\Junio\\2014Junio.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2014\\Marzo\\2014Marzo.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2014\\Mayo\\2014Mayo.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2014\\Noviembre\\2014Noviembre.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2014\\Octubre\\2014Octubre.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2014\\Septiembre\\2014Septiembre.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2015\\Abril\\2015Abril.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2015\\Agosto\\2015Agosto.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2015\\Diciembre\\2015Diciembre.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2015\\Enero\\2015Enero.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2015\\Febrero\\2015Febrero.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2015\\Julio\\2015Julio.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2015\\Junio\\2015Junio.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2015\\Marzo\\2015Marzo.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2015\\Mayo\\2015Mayo.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2015\\Noviembre\\2015Noviembre.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2015\\Octubre\\2015Octubre.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2015\\Septiembre\\2015Septiembre.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2016\\Abril\\2016Abril.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2016\\Agosto\\2016Agosto.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2016\\Diciembre\\2016Diciembre.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2016\\Enero\\2016Enero.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2016\\Febrero\\2016Febrero.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2016\\Julio\\2016Julio.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2016\\Junio\\2016Junio.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2016\\Marzo\\2016Marzo.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2016\\Mayo\\2016Mayo.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2016\\Noviembre\\2016Noviembre.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2016\\Octubre\\2016Octubre.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2016\\Septiembre\\2016Septiembre.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2017\\Abril\\2017Abril.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2017\\Agosto\\2017Agosto.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2017\\Diciembre\\2017Diciembre.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2017\\Enero\\2017Enero.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2017\\Febrero\\2017Febrero.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2017\\Julio\\2017Julio.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2017\\Junio\\2017Junio.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2017\\Marzo\\2017Marzo.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2017\\Mayo\\2017Mayo.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2017\\Noviembre\\2017Noviembre.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2017\\Octubre\\2017Octubre.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2017\\Septiembre\\2017Septiembre.xlsx']

In [59]:
#Leer
archivo = pd.read_excel("Archivo_procesado.xlsx")
archivo

Empty DataFrame
Columns: [Archivo]
Index: []

In [60]:
# Validamos los archivos que no se han procesado
for x in archivo['Archivo']:
    archivo_por_procesar.remove(x)

In [61]:
archivo_por_procesar

['D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2014\\Abril\\2014Abril.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2014\\Agosto\\2014Agosto.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2014\\Diciembre\\2014Diciembre.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2014\\Enero\\2014Enero.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2014\\Febrero\\2014Febrero.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2014\\Julio\\2014Julio.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2014\\Junio\\2014Junio.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2014\\Marzo\\2014Marzo.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2014\\Mayo\\2014Mayo.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2014\\Noviembre\\2014Noviembre.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2014\\Octubre\\2014Octubre.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2014\\Septiembre\\2014Septiembre.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2015\\Abril\\2015Abril.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2015\\Agosto\\2015Agosto.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2015\\Diciembre\\2015Diciembre.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2015\\Enero\\2015Enero.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2015\\Febrero\\2015Febrero.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2015\\Julio\\2015Julio.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2015\\Junio\\2015Junio.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2015\\Marzo\\2015Marzo.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2015\\Mayo\\2015Mayo.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2015\\Noviembre\\2015Noviembre.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2015\\Octubre\\2015Octubre.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2015\\Septiembre\\2015Septiembre.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2016\\Abril\\2016Abril.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2016\\Agosto\\2016Agosto.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2016\\Diciembre\\2016Diciembre.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2016\\Enero\\2016Enero.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2016\\Febrero\\2016Febrero.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2016\\Julio\\2016Julio.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2016\\Junio\\2016Junio.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2016\\Marzo\\2016Marzo.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2016\\Mayo\\2016Mayo.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2016\\Noviembre\\2016Noviembre.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2016\\Octubre\\2016Octubre.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2016\\Septiembre\\2016Septiembre.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2017\\Abril\\2017Abril.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2017\\Agosto\\2017Agosto.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2017\\Diciembre\\2017Diciembre.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2017\\Enero\\2017Enero.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2017\\Febrero\\2017Febrero.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2017\\Julio\\2017Julio.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2017\\Junio\\2017Junio.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2017\\Marzo\\2017Marzo.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2017\\Mayo\\2017Mayo.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2017\\Noviembre\\2017Noviembre.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2017\\Octubre\\2017Octubre.xlsx',
 'D:\\ANALYTIC_PYTHON\\EntornoPython\\ETL DATASET\\Dataset_ ventas\\2017\\Septiembre\\2017Septiembre.xlsx']

In [62]:
for x in tqdm.tqdm(archivo_por_procesar):
    tmp = pd.read_excel(x)
    procesado.append( tmp )
    archivo_procesado.append(x)
    
df = pd.concat(procesado, axis = 0) 
df.to_excel("Consolidado.xlsx", index = False)

archivo_nuevo = pd.DataFrame(archivo_procesado, columns=["Archivo"] )  
archivo = archivo.append(archivo_nuevo)
archivo.to_excel("Archivo_procesado.xlsx", index = False)

100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 48/48 [00:02<00:00, 16.87it/s]
C:\Users\Usuario\AppData\Local\Temp\ipykernel_25528\1899574132.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  archivo = archivo.append(archivo_nuevo)

# Ejercicio ETL 3 Avanzado-Carga SQL- WEB

In [57]:
#!pip install pyodbc

Looking in indexes: https://pypi.org/simple, https://pypi.ngc.nvidia.com
Requirement already satisfied: pyodbc in d:\bcp\algortimo\curso_etl_python\lib\site-packages (4.0.35)

In [41]:
#Carga desde SQL
import pyodbc
cnxn = pyodbc.connect(driver='{SQL Server Native Client 11.0}',
                      host='LAPTOP-J0JK4H2E\DEVELOPER', database='Northwind'
                      ,trusted_connection='yes') #, user=uname, password=pword)

In [42]:
sql = "select * from Employees"
data = pd.read_sql(sql, cnxn)
print(data)

   EmployeeID   LastName FirstName                     Title TitleOfCourtesy  \
0           1    Davolio     Nancy      Sales Representative             Ms.
1           2     Fuller    Andrew     Vice President, Sales             Dr.
2           3  Leverling     Janet      Sales Representative             Ms.
3           4    Peacock  Margaret      Sales Representative            Mrs.
4           5   Buchanan    Steven             Sales Manager             Mr.
5           6     Suyama   Michael      Sales Representative             Mr.
6           7       King    Robert      Sales Representative             Mr.
7           8   Callahan     Laura  Inside Sales Coordinator             Ms.
8           9  Dodsworth      Anne      Sales Representative             Ms.

   BirthDate   HireDate                           Address      City Region  \
0 1948-12-08 1992-05-01     507 - 20th Ave. E.\r\nApt. 2A   Seattle     WA
1 1952-02-19 1992-08-14                908 W. Capital Way    Tacoma     WA
2 1963-08-30 1992-04-01                722 Moss Bay Blvd.  Kirkland     WA
3 1937-09-19 1993-05-03              4110 Old Redmond Rd.   Redmond     WA
4 1955-03-04 1993-10-17                   14 Garrett Hill    London   None
5 1963-07-02 1993-10-17       Coventry House\r\nMiner Rd.    London   None
6 1960-05-29 1994-01-02  Edgeham Hollow\r\nWinchester Way    London   None
7 1958-01-09 1994-03-05             4726 - 11th Ave. N.E.   Seattle     WA
8 1966-01-27 1994-11-15                 7 Houndstooth Rd.    London   None

  PostalCode Country       HomePhone Extension  \
0      98122     USA  (206) 555-9857      5467
1      98401     USA  (206) 555-9482      3457
2      98033     USA  (206) 555-3412      3355
3      98052     USA  (206) 555-8122      5176
4    SW1 8JR      UK   (71) 555-4848      3453
5    EC2 7JR      UK   (71) 555-7773       428
6    RG1 9SP      UK   (71) 555-5598       465
7      98105     USA  (206) 555-1189      2344
8    WG2 7LT      UK   (71) 555-4444       452

                                               Photo  \
0  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...
1  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...
2  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...
3  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...
4  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...
5  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...
6  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...
7  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...
8  b'\x15\x1c/\x00\x02\x00\x00\x00\r\x00\x0e\x00\...

                                               Notes  ReportsTo  \
0  Education includes a BA in psychology from Col...        2.0
1  Andrew received his BTS commercial in 1974 and...        NaN
2  Janet has a BS degree in chemistry from Boston...        2.0
3  Margaret holds a BA in English literature from...        2.0
4  Steven Buchanan graduated from St. Andrews Uni...        2.0
5  Michael is a graduate of Sussex University (MA...        5.0
6  Robert King served in the Peace Corps and trav...        5.0
7  Laura received a BA in psychology from the Uni...        2.0
8  Anne has a BA degree in English from St. Lawre...        5.0

                                PhotoPath
0    http://accweb/emmployees/davolio.bmp
1     http://accweb/emmployees/fuller.bmp
2  http://accweb/emmployees/leverling.bmp
3    http://accweb/emmployees/peacock.bmp
4   http://accweb/emmployees/buchanan.bmp
5    http://accweb/emmployees/davolio.bmp
6    http://accweb/emmployees/davolio.bmp
7    http://accweb/emmployees/davolio.bmp
8    http://accweb/emmployees/davolio.bmp

C:\Users\Usuario\AppData\Local\Temp\ipykernel_6536\3415081633.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(sql, cnxn)

In [43]:
#Carga desde WEB
#Exploremos el siguiente link
#https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_time_series

#importemos la data directamente
df = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv")

#importamos la data 
df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/23/23,2/24/23,2/25/23,2/26/23,2/27/23,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,209215,209230,209246,209274,209308,209322,209340,209358,209362,209369
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,334345,334356,334373,334378,334380,334391,334408,334408,334427,334427
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,271432,271436,271439,271440,271440,271441,271448,271463,271469,271469
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,47866,47866,47866,47866,47866,47866,47875,47875,47875,47875
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,105205,105205,105205,105205,105255,105255,105277,105277,105277,105277

In [77]:
# Importamos las librerias
#!pip install requests
#!pip install BeautifulSoup4
from bs4 import BeautifulSoup
import requests
import time
import datetime
import os
import pandas as pd
df = pd.DataFrame()
# Creamos el Bucle infinito
i = 0
while i<10:
    # Capturamos la url 
    url = "https://www.timeanddate.com/weather/peru/lima"

    # Capturamos el hml de la pagina web y creamos un objeto Response
    r  = requests.get(url)
    data = r.text

    # Creamos el objeto soup y le pasamos lo capturado con request
    soup = BeautifulSoup(data, 'lxml')

    # Buscamos el div para sacar los grados
    temp = soup.find_all('div', class_="h2")

    # Buscamos el div para sacar la sensacion termica
    sTerm = soup.find_all('div', class_="clear")
    #Calculamos la fecha del dia de hoy
    fecha = str(datetime.datetime.today())[0:19]
        # Con [0] saco el primer elemento y con [1] el segundo
    print("Fecha: ", str(datetime.datetime.today())[0:19])
    print("La temperatura en Peru: " + temp[0].text)
    print("La sesacion termica: " + sTerm[1].text)
    #unimos las bases de datos
    df = pd.concat([df , pd.DataFrame([[fecha ,temp[0].text,sTerm[1].text]], columns=["Fecha", "Temperatura", "Sensacion termica"])])
    # Tiempo en segundos para ejecutarse nuevamente
    time.sleep(10)

    i +=1
df

Fecha:  2023-01-05 22:12:29
La temperatura en Peru: 21 °C
La sesacion termica: 21 °C
Fecha:  2023-01-05 22:12:40
La temperatura en Peru: 21 °C
La sesacion termica: 21 °C
Fecha:  2023-01-05 22:12:50
La temperatura en Peru: 21 °C
La sesacion termica: 21 °C
Fecha:  2023-01-05 22:13:00
La temperatura en Peru: 21 °C
La sesacion termica: 21 °C
Fecha:  2023-01-05 22:13:11
La temperatura en Peru: 21 °C
La sesacion termica: 21 °C
Fecha:  2023-01-05 22:13:21
La temperatura en Peru: 21 °C
La sesacion termica: 21 °C
Fecha:  2023-01-05 22:13:31
La temperatura en Peru: 21 °C
La sesacion termica: 21 °C
Fecha:  2023-01-05 22:13:42
La temperatura en Peru: 21 °C
La sesacion termica: 21 °C
Fecha:  2023-01-05 22:13:52
La temperatura en Peru: 21 °C
La sesacion termica: 21 °C
Fecha:  2023-01-05 22:14:02
La temperatura en Peru: 21 °C
La sesacion termica: 21 °C

                 Fecha Temperatura Sensacion termica
0  2023-01-05 22:12:29       21 °C             21 °C
0  2023-01-05 22:12:40       21 °C             21 °C
0  2023-01-05 22:12:50       21 °C             21 °C
0  2023-01-05 22:13:00       21 °C             21 °C
0  2023-01-05 22:13:11       21 °C             21 °C
0  2023-01-05 22:13:21       21 °C             21 °C
0  2023-01-05 22:13:31       21 °C             21 °C
0  2023-01-05 22:13:42       21 °C             21 °C
0  2023-01-05 22:13:52       21 °C             21 °C
0  2023-01-05 22:14:02       21 °C             21 °C

## TRABAJO FINAL

In [63]:
#Realizamos un loop por año y mes
#pip install xlsxwriter
#Codigo Generador de datos
## Este codigo genera el archivo base donde van a trabajar , les dejo el codigo para que lo tengan

path = r'D:\ANALYTIC_PYTHON\EntornoPython\ETL DATASET\Tarea carga'
df = pd.read_excel(files[2])
for y in year:
    if not os.path.exists(path+"\\"+str(y)):
            os.mkdir(path+"\\"+str(y))
    writer = pd.ExcelWriter(path+"\\"+str(y)+"\\"+'anual.xlsx', engine='xlsxwriter')
    for m in month:
        tmp_csv = df[(df['Order Date'].dt.year==y) & (df['Order Date'].dt.month==m)&  (df['Data_origen']==0)  ]
        tmp_excel = df[(df['Order Date'].dt.year==y) & (df['Order Date'].dt.month==m)&  (df['Data_origen']==1)  ]
        #Si la ruta no existe la creara
        tmp_excel.to_excel( writer,sheet_name = dic.get(m),index=False)
        tmp_csv.to_csv(path+"\\"+str(y)+"\\"+dic.get(m)+".csv",index=False)
    writer.close()
    
##### Solo cambiar el path del codigo

In [64]:
## Tips para realizar la tarea
path = r'D:\ANALYTIC_PYTHON\EntornoPython\ETL DATASET\Tarea carga'
#pista utilice estos codigos para ver los xlsx y los csv , debe utilizar loops para cargar los archivos
flujo_excel = glob.glob(f'{path}/*/*.xlsx', recursive=True)
flujo_csv =glob.glob(f'{path}/*/*.csv', recursive=True)

In [65]:
#para el flujo csv
# Creamos una lista en blanco para cargar los datasets
li = []
# Realizaremos un loop sobre cada archivo, lo leeremos y lo juntaremos.

for f in flujo_csv:
    # Leemos el archivo
    temp_df = pd.read_csv(f ,sep=',')
    # agregamos a la lista los dataframes
    li.append(temp_df)
    #print(f'Dataframe creado exitosamente para {f} con un tamañao {temp_df.shape}')

# Uniremos todos los dataframe en uno
df_csv = pd.concat(li, axis=0)

In [66]:
#Flujo Excel
import openpyxl
li = []
# Realizaremos un loop sobre cada archivo, lo leeremos y lo juntaremos.
for f in flujo_excel:
    # Leemos el archivo
    wb = openpyxl.load_workbook(f)
    #leer las hojas
    hojas_Excel = wb.sheetnames
    # creear un loop que entre y jale la informacion de cada pestaña
    df_Excel = []
    for hoja in hojas_Excel:
        tmp = pd.read_excel(f,sheet_name = hoja ) 
        df_Excel.append(temp_df)
    df_excel_consolidado = pd.concat(df_Excel, axis=0)

    # agregamos a la lista los dataframes
    li.append(df_excel_consolidado)
    #print(f'Dataframe creado exitosamente para {f} con un tamañao {temp_df.shape}')

# Uniremos todos los dataframe en uno
df_Excel = pd.concat(li, axis=0)

In [71]:
#Finalmente consolido tanto el excel como el csv

df_final = df_Excel.append(df_csv)

C:\Users\Usuario\AppData\Local\Temp\ipykernel_25528\3028009854.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_final = df_Excel.append(df_csv)

In [72]:
df_final.to_csv("datos_final.csv")

In [69]:
#tips 2 este codigo permite visualizar las pestañas de cada archivo excel, se debe realizar un loop sobre cada archivo excel
import openpyxl
wb = openpyxl.load_workbook(path +'\\2014\\anual.xlsx')
print(wb.sheetnames)

['Noviembre', 'Junio', 'Octubre', 'Abril', 'Diciembre', 'Mayo', 'Agosto', 'Julio', 'Septiembre', 'Enero', 'Marzo', 'Febrero']

In [70]:
#tips 3
# Para cargar una hoja especifica de un excel se debe realizar lo siguiente
tmp = pd.read_excel(path +'\\2014\\anual.xlsx',sheet_name = 'Noviembre' ) 
tmp.head(5)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Data_origen
0,79,US-2014-147606,2014-11-26,2014-12-01,Second Class,JE-15745,Joel Eaton,Consumer,United States,Houston,...,Central,FUR-FU-10003194,Furniture,Furnishings,"Eldon Expressions Desk Accessory, Wood Pencil ...",19.30,5,0.6,-14.4750,1
1,183,CA-2014-158274,2014-11-19,2014-11-24,Second Class,RM-19675,Robert Marley,Home Office,United States,Monroe,...,South,TEC-PH-10003273,Technology,Phones,AT&T TR1909W,503.96,4,0.0,131.0296,1
2,184,CA-2014-158274,2014-11-19,2014-11-24,Second Class,RM-19675,Robert Marley,Home Office,United States,Monroe,...,South,TEC-PH-10004896,Technology,Phones,Nokia Lumia 521 (T-Mobile),149.95,5,0.0,41.9860,1
3,319,CA-2014-164973,2014-11-04,2014-11-09,Standard Class,NM-18445,Nathan Mautz,Home Office,United States,New York City,...,East,TEC-MA-10002927,Technology,Machines,Canon imageCLASS MF7460 Monochrome Digital Las...,3991.98,2,0.0,1995.9900,1
4,320,CA-2014-164973,2014-11-04,2014-11-09,Standard Class,NM-18445,Nathan Mautz,Home Office,United States,New York City,...,East,TEC-PH-10004093,Technology,Phones,Panasonic Kx-TS550,275.94,6,0.0,80.0226,1

In [ ]:
#Debe cargar todos los archivos tanto en csv y en excel y unirlos todo en un solo file
#Deben guardar el archivo final en la carpeta con el nombre consolidado.xlsx

#enviar el codigo final en un word con fotos del proceso.

In [ ]:
## Tips para realizar la tarea
path = r'D:\ANALYTIC_PYTHON\EntornoPython\ETL DATASET\Tarea carga'
#pista utilice estos codigos para ver los xlsx y los csv , debe utilizar loops para cargar los archivos
flujo_excel = glob.glob(f'{path}/*/*.xlsx', recursive=True)
flujo_csv =glob.glob(f'{path}/*/*.csv', recursive=True)

#para el flujo csv
# Creamos una lista en blanco para cargar los datasets
li = []
# Realizaremos un loop sobre cada archivo, lo leeremos y lo juntaremos.

for f in flujo_csv:
    # Leemos el archivo
    temp_df = pd.read_csv(f ,sep=',')
    # agregamos a la lista los dataframes
    li.append(temp_df)
    #print(f'Dataframe creado exitosamente para {f} con un tamañao {temp_df.shape}')

# Uniremos todos los dataframe en uno
df_csv = pd.concat(li, axis=0)

#Finalmente consolido tanto el excel como el csv

df_final = df_Excel.append(df_csv)

df_final.to_csv("datos_final")