# Ejercicio ETL 1 basic-Carga

In [1]:
#algunas librerias importantes

In [2]:
# Importando las librerias
import pandas as pd
import glob
import os
# Seteamos el directorio a buscar los archivos
path = r'C:\Users\LUIGGI\Desktop\Curso_ETL_Python\ETL DATASET\World Cup\Raw'
#cambiamos el path
os.chdir(path)
#
files = glob.glob( '*.csv')
print(files)

[]

In [7]:
# Creamos una lista en blanco para cargar los datasets
li = []
# Realizaremos un loop sobre cada archivo, lo leeremos y lo juntaremos.

for f in files:
    # Leemos el archivo
    temp_df = pd.read_csv(f ,sep=';')
    # agregamos a la lista los dataframes
    li.append(temp_df)
    print(f'Dataframe creado exitosamente para {f} con un tamañao {temp_df.shape}')

# Uniremos todos los dataframe en uno
df = pd.concat(li, axis=0)
print(df.shape)
df.head()

Dataframe creado exitosamente para Diciembre_2022.csv con un tamañao (24, 6)
Dataframe creado exitosamente para Noviembre_2022.csv con un tamañao (40, 6)
(64, 6)

,Date,Time,Home,Away,Attendance,Venue
0,01 December 2022,18:00 (20:30),Canada,Morocco,"43,102",Al Thumama Stadium
1,01 December 2022,18:00 (20:30),Croatia,Belgium,"43,984",Ahmed bin Ali Stadium
2,01 December 2022,22:00 (00:30),Costa Rica,Germany,"67,054",Al Bayt Stadium
3,01 December 2022,22:00 (00:30),Japan,Spain,"44,851",Khalifa International Stadium
4,02 December 2022,18:00 (20:30),Korea Republic,Portugal,"44,097",Education City Stadium

In [4]:
#Pasemos el codigo a un Py

# Ejercicio ETL 1 Basic-Carga-Mejorado

In [14]:
#crearemos una funcion para leer solo algunas columnas

def leer_csv(path="",column_name =[] , sep=';'):
    
    if len(column_name) == 0:
        
        df = pd.read_csv(path, sep=';')
        
    else:
        
        df = pd.read_csv(path,usecols = column_name, sep=';')
        
    return df


leer_csv(path=files[0] ,column_name =["Date", "Time", "Away"], sep=';')

                Date           Time            Away
0   01 December 2022  18:00 (20:30)         Morocco
1   01 December 2022  18:00 (20:30)         Belgium
2   01 December 2022  22:00 (00:30)         Germany
3   01 December 2022  22:00 (00:30)           Spain
4   02 December 2022  18:00 (20:30)        Portugal
5   02 December 2022  18:00 (20:30)         Uruguay
6   02 December 2022  22:00 (00:30)          Brazil
7   02 December 2022  22:00 (00:30)     Switzerland
8   03 December 2022  18:00 (20:30)             USA
9   03 December 2022  22:00 (00:30)       Australia
10  04 December 2022  18:00 (20:30)          Poland
11  04 December 2022  22:00 (00:30)         Senegal
12  05 December 2022  18:00 (20:30)         Croatia
13  05 December 2022  22:00 (00:30)  Korea Republic
14  06 December 2022  18:00 (20:30)           Spain
15  06 December 2022  22:00 (00:30)     Switzerland
16  09 December 2022  18:00 (20:30)          Brazil
17  09 December 2022  22:00 (00:30)       Argentina
18  10 December 2022  18:00 (20:30)        Portugal
19  10 December 2022  22:00 (00:30)          France
20  13 December 2022  22:00 (00:30)         Croatia
21  14 December 2022  22:00 (00:30)         Morocco
22  17 December 2022  18:00 (20:30)         Morocco
23  18 December 2022  18:00 (20:30)          France

In [16]:
# Importando las librerias
import pandas as pd
import glob
import os
# Seteamos el directorio a buscar los archivos
path = r'C:/Users/LUIGGI/Desktop/Curso_ETL_Python/ETL DATASET/World Cup/Raw'
#cambiamos el path
os.chdir(path)
# vamos  a buscar todos los archivos que son csv
files = glob.glob('*.csv')
print(files)

['Diciembre_2022.csv', 'Noviembre_2022.csv']

In [17]:
import shutil
# Creamos una lista en blanco para cargar los datasets
li = []
# Realizaremos un loop sobre cada archivo, lo leeremos y lo juntaremos.
path_salida = r'C:/Users/LUIGGI/Desktop/Curso_ETL_Python/ETL DATASET/World Cup/Procesado/'

for f in files:
    # Leemos el archivo
    temp_df = leer_csv(f ,sep=';')
    # agregamos a la lista los dataframes
    li.append(temp_df)
    
    #Moviendo archivos a la capa de Procesado
    shutil.move(f, path_salida+f)

    print(f'Dataframe creado exitosamente para {f} con un tamañao {temp_df.shape}')

# Uniremos todos los dataframe en uno
df = pd.concat(li, axis=0)
print(df.shape)
df.head()

Dataframe creado exitosamente para Diciembre_2022.csv con un tamañao (24, 6)
Dataframe creado exitosamente para Noviembre_2022.csv con un tamañao (40, 6)
(64, 6)

,Date,Time,Home,Away,Attendance,Venue
0,01 December 2022,18:00 (20:30),Canada,Morocco,"43,102",Al Thumama Stadium
1,01 December 2022,18:00 (20:30),Croatia,Belgium,"43,984",Ahmed bin Ali Stadium
2,01 December 2022,22:00 (00:30),Costa Rica,Germany,"67,054",Al Bayt Stadium
3,01 December 2022,22:00 (00:30),Japan,Spain,"44,851",Khalifa International Stadium
4,02 December 2022,18:00 (20:30),Korea Republic,Portugal,"44,097",Education City Stadium

In [18]:
path_final = r'C:/Users/LUIGGI/Desktop/Curso_ETL_Python/ETL DATASET/World Cup/Consolidado/'

df.to_csv(path_final+"FInal.csv",index=False)

# Ejercicio ETL 2 Intermedio-Carga

### CREANDO SEGMENTACION DE LOS DATOS

In [20]:
# Importando las librerias
#!pip install openpyxl
import pandas as pd
import glob
# Seteamos el directorio a buscar los archivos
# vamos  a buscar todos los archivos que son csv
path = r'C:\Users\LUIGGI\Desktop\Curso_ETL_Python\ETL DATASET\Dataset_ ventas'
#cambiamos el path
os.chdir(path)
files = glob.glob( '*.xlsx')
print(files)

['Archivo_procesado.xlsx', 'Consolidado.xlsx', 'Sample - Superstore.xlsx', '~$Sample - Superstore.xlsx']

In [21]:
#Cargamos el archivo
df = pd.read_excel(files[2])

In [22]:
#recorremos por año y por mes
year = df['Order Date'].dt.year.unique()
month = df['Order Date'].dt.month.unique()
#realizamos el cambio de numero por mes 
dic = {1:"Enero", 2:"Febrero", 3:"Marzo", 4:"Abril", 5:"Mayo", 6:"Junio", 7:"Julio", 8:"Agosto", 9:"Septiembre", 10:"Octubre", 11:"Noviembre", 12:"Diciembre"}

In [23]:
year

array([2016, 2015, 2014, 2017], dtype=int64)

In [24]:
month

array([11,  6, 10,  4, 12,  5,  8,  7,  9,  1,  3,  2], dtype=int64)

In [25]:
#Realizamos un loop por año y mes
for y in year:
    if not os.path.exists(path+"\\"+str(y)):
            os.mkdir(path+"\\"+str(y))
    for m in month:
        tmp = df[(df['Order Date'].dt.year==y) & (df['Order Date'].dt.month==m) ]
        #Si la ruta no existe la creara
        if not os.path.exists(path+"\\"+str(y)+"\\"+dic.get(m)):
            os.mkdir(path+"\\"+str(y)+"\\"+dic.get(m))
        tmp.to_excel(path+"\\"+str(y)+"\\"+dic.get(m)+"\\"+str(y)+dic.get(m)+".xlsx")

### Leyendo los datos de la  subcarpetas

In [49]:
!pip install tqdm
import tqdm
path = r'C:\Users\LUIGGI\Desktop\Curso_ETL_Python\ETL DATASET\Dataset_ ventas'

# Creare una lista para guardar los dataframe
procesado = []

#creare una lista para guardar los archivos procesados
archivo_procesado = []

archivo_por_procesar = glob.glob(f'{path}/*/**/*.xlsx', recursive=True)

Looking in indexes: https://pypi.org/simple, https://pypi.ngc.nvidia.com
Requirement already satisfied: tqdm in d:\bcp\algortimo\curso_etl_python\lib\site-packages (4.64.1)
Requirement already satisfied: colorama in d:\bcp\algortimo\curso_etl_python\lib\site-packages (from tqdm) (0.4.6)

In [51]:
#Leer
archivo = pd.read_excel("Archivo_procesado.xlsx")
archivo

                                              Archivo
0   C:\Users\LUIGGI\Desktop\Curso_ETL_Python\ETL D...
1   C:\Users\LUIGGI\Desktop\Curso_ETL_Python\ETL D...
2   C:\Users\LUIGGI\Desktop\Curso_ETL_Python\ETL D...
3   C:\Users\LUIGGI\Desktop\Curso_ETL_Python\ETL D...
4   C:\Users\LUIGGI\Desktop\Curso_ETL_Python\ETL D...
5   C:\Users\LUIGGI\Desktop\Curso_ETL_Python\ETL D...
6   C:\Users\LUIGGI\Desktop\Curso_ETL_Python\ETL D...
7   C:\Users\LUIGGI\Desktop\Curso_ETL_Python\ETL D...
8   C:\Users\LUIGGI\Desktop\Curso_ETL_Python\ETL D...
9   C:\Users\LUIGGI\Desktop\Curso_ETL_Python\ETL D...
10  C:\Users\LUIGGI\Desktop\Curso_ETL_Python\ETL D...
11  C:\Users\LUIGGI\Desktop\Curso_ETL_Python\ETL D...

In [47]:
# Validamos los archivos que no se han procesado
for x in archivo['Archivo']:
    archivo_por_procesar.remove(x)

In [52]:
archivo_por_procesar

['C:\\Users\\LUIGGI\\Desktop\\Curso_ETL_Python\\ETL DATASET\\Dataset_ ventas\\2014\\Abril\\2014Abril.xlsx',
 'C:\\Users\\LUIGGI\\Desktop\\Curso_ETL_Python\\ETL DATASET\\Dataset_ ventas\\2014\\Agosto\\2014Agosto.xlsx',
 'C:\\Users\\LUIGGI\\Desktop\\Curso_ETL_Python\\ETL DATASET\\Dataset_ ventas\\2014\\Diciembre\\2014Diciembre.xlsx',
 'C:\\Users\\LUIGGI\\Desktop\\Curso_ETL_Python\\ETL DATASET\\Dataset_ ventas\\2014\\Enero\\2014Enero.xlsx',
 'C:\\Users\\LUIGGI\\Desktop\\Curso_ETL_Python\\ETL DATASET\\Dataset_ ventas\\2014\\Febrero\\2014Febrero.xlsx',
 'C:\\Users\\LUIGGI\\Desktop\\Curso_ETL_Python\\ETL DATASET\\Dataset_ ventas\\2014\\Julio\\2014Julio.xlsx',
 'C:\\Users\\LUIGGI\\Desktop\\Curso_ETL_Python\\ETL DATASET\\Dataset_ ventas\\2014\\Junio\\2014Junio.xlsx',
 'C:\\Users\\LUIGGI\\Desktop\\Curso_ETL_Python\\ETL DATASET\\Dataset_ ventas\\2014\\Marzo\\2014Marzo.xlsx',
 'C:\\Users\\LUIGGI\\Desktop\\Curso_ETL_Python\\ETL DATASET\\Dataset_ ventas\\2014\\Mayo\\2014Mayo.xlsx',
 'C:\\Users\\LUIGGI\\Desktop\\Curso_ETL_Python\\ETL DATASET\\Dataset_ ventas\\2014\\Noviembre\\2014Noviembre.xlsx',
 'C:\\Users\\LUIGGI\\Desktop\\Curso_ETL_Python\\ETL DATASET\\Dataset_ ventas\\2014\\Octubre\\2014Octubre.xlsx',
 'C:\\Users\\LUIGGI\\Desktop\\Curso_ETL_Python\\ETL DATASET\\Dataset_ ventas\\2014\\Septiembre\\2014Septiembre.xlsx',
 'C:\\Users\\LUIGGI\\Desktop\\Curso_ETL_Python\\ETL DATASET\\Dataset_ ventas\\2015\\Abril\\2015Abril.xlsx',
 'C:\\Users\\LUIGGI\\Desktop\\Curso_ETL_Python\\ETL DATASET\\Dataset_ ventas\\2015\\Agosto\\2015Agosto.xlsx',
 'C:\\Users\\LUIGGI\\Desktop\\Curso_ETL_Python\\ETL DATASET\\Dataset_ ventas\\2015\\Diciembre\\2015Diciembre.xlsx',
 'C:\\Users\\LUIGGI\\Desktop\\Curso_ETL_Python\\ETL DATASET\\Dataset_ ventas\\2015\\Enero\\2015Enero.xlsx',
 'C:\\Users\\LUIGGI\\Desktop\\Curso_ETL_Python\\ETL DATASET\\Dataset_ ventas\\2015\\Febrero\\2015Febrero.xlsx',
 'C:\\Users\\LUIGGI\\Desktop\\Curso_ETL_Python\\ETL DATASET\\Dataset_ ventas\\2015\\Julio\\2015Julio.xlsx',
 'C:\\Users\\LUIGGI\\Desktop\\Curso_ETL_Python\\ETL DATASET\\Dataset_ ventas\\2015\\Junio\\2015Junio.xlsx',
 'C:\\Users\\LUIGGI\\Desktop\\Curso_ETL_Python\\ETL DATASET\\Dataset_ ventas\\2015\\Marzo\\2015Marzo.xlsx',
 'C:\\Users\\LUIGGI\\Desktop\\Curso_ETL_Python\\ETL DATASET\\Dataset_ ventas\\2015\\Mayo\\2015Mayo.xlsx',
 'C:\\Users\\LUIGGI\\Desktop\\Curso_ETL_Python\\ETL DATASET\\Dataset_ ventas\\2015\\Noviembre\\2015Noviembre.xlsx',
 'C:\\Users\\LUIGGI\\Desktop\\Curso_ETL_Python\\ETL DATASET\\Dataset_ ventas\\2015\\Octubre\\2015Octubre.xlsx',
 'C:\\Users\\LUIGGI\\Desktop\\Curso_ETL_Python\\ETL DATASET\\Dataset_ ventas\\2015\\Septiembre\\2015Septiembre.xlsx',
 'C:\\Users\\LUIGGI\\Desktop\\Curso_ETL_Python\\ETL DATASET\\Dataset_ ventas\\2016\\Abril\\2016Abril.xlsx',
 'C:\\Users\\LUIGGI\\Desktop\\Curso_ETL_Python\\ETL DATASET\\Dataset_ ventas\\2016\\Agosto\\2016Agosto.xlsx',
 'C:\\Users\\LUIGGI\\Desktop\\Curso_ETL_Python\\ETL DATASET\\Dataset_ ventas\\2016\\Diciembre\\2016Diciembre.xlsx',
 'C:\\Users\\LUIGGI\\Desktop\\Curso_ETL_Python\\ETL DATASET\\Dataset_ ventas\\2016\\Enero\\2016Enero.xlsx',
 'C:\\Users\\LUIGGI\\Desktop\\Curso_ETL_Python\\ETL DATASET\\Dataset_ ventas\\2016\\Febrero\\2016Febrero.xlsx',
 'C:\\Users\\LUIGGI\\Desktop\\Curso_ETL_Python\\ETL DATASET\\Dataset_ ventas\\2016\\Julio\\2016Julio.xlsx',
 'C:\\Users\\LUIGGI\\Desktop\\Curso_ETL_Python\\ETL DATASET\\Dataset_ ventas\\2016\\Junio\\2016Junio.xlsx',
 'C:\\Users\\LUIGGI\\Desktop\\Curso_ETL_Python\\ETL DATASET\\Dataset_ ventas\\2016\\Marzo\\2016Marzo.xlsx',
 'C:\\Users\\LUIGGI\\Desktop\\Curso_ETL_Python\\ETL DATASET\\Dataset_ ventas\\2016\\Mayo\\2016Mayo.xlsx',
 'C:\\Users\\LUIGGI\\Desktop\\Curso_ETL_Python\\ETL DATASET\\Dataset_ ventas\\2016\\Noviembre\\2016Noviembre.xlsx',
 'C:\\Users\\LUIGGI\\Desktop\\Curso_ETL_Python\\ETL DATASET\\Dataset_ ventas\\2016\\Octubre\\2016Octubre.xlsx',
 'C:\\Users\\LUIGGI\\Desktop\\Curso_ETL_Python\\ETL DATASET\\Dataset_ ventas\\2016\\Septiembre\\2016Septiembre.xlsx',
 'C:\\Users\\LUIGGI\\Desktop\\Curso_ETL_Python\\ETL DATASET\\Dataset_ ventas\\2017\\Abril\\2017Abril.xlsx',
 'C:\\Users\\LUIGGI\\Desktop\\Curso_ETL_Python\\ETL DATASET\\Dataset_ ventas\\2017\\Agosto\\2017Agosto.xlsx',
 'C:\\Users\\LUIGGI\\Desktop\\Curso_ETL_Python\\ETL DATASET\\Dataset_ ventas\\2017\\Diciembre\\2017Diciembre.xlsx',
 'C:\\Users\\LUIGGI\\Desktop\\Curso_ETL_Python\\ETL DATASET\\Dataset_ ventas\\2017\\Enero\\2017Enero.xlsx',
 'C:\\Users\\LUIGGI\\Desktop\\Curso_ETL_Python\\ETL DATASET\\Dataset_ ventas\\2017\\Febrero\\2017Febrero.xlsx',
 'C:\\Users\\LUIGGI\\Desktop\\Curso_ETL_Python\\ETL DATASET\\Dataset_ ventas\\2017\\Julio\\2017Julio.xlsx',
 'C:\\Users\\LUIGGI\\Desktop\\Curso_ETL_Python\\ETL DATASET\\Dataset_ ventas\\2017\\Junio\\2017Junio.xlsx',
 'C:\\Users\\LUIGGI\\Desktop\\Curso_ETL_Python\\ETL DATASET\\Dataset_ ventas\\2017\\Marzo\\2017Marzo.xlsx',
 'C:\\Users\\LUIGGI\\Desktop\\Curso_ETL_Python\\ETL DATASET\\Dataset_ ventas\\2017\\Mayo\\2017Mayo.xlsx',
 'C:\\Users\\LUIGGI\\Desktop\\Curso_ETL_Python\\ETL DATASET\\Dataset_ ventas\\2017\\Noviembre\\2017Noviembre.xlsx',
 'C:\\Users\\LUIGGI\\Desktop\\Curso_ETL_Python\\ETL DATASET\\Dataset_ ventas\\2017\\Octubre\\2017Octubre.xlsx',
 'C:\\Users\\LUIGGI\\Desktop\\Curso_ETL_Python\\ETL DATASET\\Dataset_ ventas\\2017\\Septiembre\\2017Septiembre.xlsx']

In [55]:
for x in tqdm.tqdm(archivo_por_procesar):
    tmp = pd.read_excel(x)
    procesado.append( tmp )
    archivo_procesado.append(x)
    
df = pd.concat(procesado, axis = 0) 
df.to_excel("Consolidado.xlsx", index = False)

archivo_nuevo = pd.DataFrame(archivo_procesado, columns=["Archivo"] )  
archivo = archivo.append(archivo_nuevo)
archivo.to_excel("Archivo_procesado.xlsx", index = False)

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 48/48 [00:03<00:00, 12.25it/s]
C:\Users\LUIGGI\AppData\Local\Temp\ipykernel_36012\1899574132.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  archivo = archivo.append(archivo_nuevo)

# Ejercicio ETL 3 Avanzado-Carga SQL- WEB

In [57]:
!pip install pyodbc

Looking in indexes: https://pypi.org/simple, https://pypi.ngc.nvidia.com
Requirement already satisfied: pyodbc in d:\bcp\algortimo\curso_etl_python\lib\site-packages (4.0.35)

In [59]:
#Carga desde SQL
import pyodbc
cnxn = pyodbc.connect(driver='{SQL Server Native Client 11.0}',
                      host='DESKTOP-LPN6KNV\MSQL', database='CLASE'
                      ,trusted_connection='yes') #, user=uname, password=pword)

In [17]:
sql = "SELECT * FROM CAMIONES"
data = pd.read_sql(sql, cnxn)
print(data)

   COD_CAMION   MARCA  MODELO  ANNO  PESO_CARGA      PATENTE  VALOR
0        1000  susuki  baleno  1995          45      pi-1516  50000
1        2000   Mazda     cx3  2021          30      pi-pucp  28000
2        3000   TESLA    T100  2022          25  pi-elonmusk  50000

C:\Users\LUIGGI\AppData\Local\Temp\ipykernel_21712\2087840577.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(sql, cnxn)

In [63]:
#Carga desde WEB
#Exploremos el siguiente link
#https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_time_series

#importemos la data directamente
df = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv")

#importamos la data 
df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,12/26/22,12/27/22,12/28/22,12/29/22,12/30/22,12/31/22,1/1/23,1/2/23,1/3/23,1/4/23
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,207438,207460,207493,207511,207550,207559,207616,207627,207654,207715
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,333751,333751,333776,333776,333806,333806,333811,333812,333812,333818
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,271198,271202,271208,271217,271223,271228,271229,271229,271230,271236
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,47686,47686,47751,47751,47751,47751,47751,47751,47751,47751
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,104973,105095,105095,105095,105095,105095,105095,105095,105095,105095

In [77]:
# Importamos las librerias
!pip install requests
!pip install BeautifulSoup4
from bs4 import BeautifulSoup
import requests
import time
import datetime
import os
import pandas as pd
df = pd.DataFrame()
# Creamos el Bucle infinito
i = 0
while i<10:
    # Capturamos la url 
    url = "https://www.timeanddate.com/weather/peru/lima"

    # Capturamos el hml de la pagina web y creamos un objeto Response
    r  = requests.get(url)
    data = r.text

    # Creamos el objeto soup y le pasamos lo capturado con request
    soup = BeautifulSoup(data, 'lxml')

    # Buscamos el div para sacar los grados
    temp = soup.find_all('div', class_="h2")

    # Buscamos el div para sacar la sensacion termica
    sTerm = soup.find_all('div', class_="clear")
    #Calculamos la fecha del dia de hoy
    fecha = str(datetime.datetime.today())[0:19]
        # Con [0] saco el primer elemento y con [1] el segundo
    print("Fecha: ", str(datetime.datetime.today())[0:19])
    print("La temperatura en Peru: " + temp[0].text)
    print("La sesacion termica: " + sTerm[1].text)
    #unimos las bases de datos
    df = pd.concat([df , pd.DataFrame([[fecha ,temp[0].text,sTerm[1].text]], columns=["Fecha", "Temperatura", "Sensacion termica"])])
    # Tiempo en segundos para ejecutarse nuevamente
    time.sleep(10)

    i +=1
df

Fecha:  2023-01-05 22:12:29
La temperatura en Peru: 21 °C
La sesacion termica: 21 °C
Fecha:  2023-01-05 22:12:40
La temperatura en Peru: 21 °C
La sesacion termica: 21 °C
Fecha:  2023-01-05 22:12:50
La temperatura en Peru: 21 °C
La sesacion termica: 21 °C
Fecha:  2023-01-05 22:13:00
La temperatura en Peru: 21 °C
La sesacion termica: 21 °C
Fecha:  2023-01-05 22:13:11
La temperatura en Peru: 21 °C
La sesacion termica: 21 °C
Fecha:  2023-01-05 22:13:21
La temperatura en Peru: 21 °C
La sesacion termica: 21 °C
Fecha:  2023-01-05 22:13:31
La temperatura en Peru: 21 °C
La sesacion termica: 21 °C
Fecha:  2023-01-05 22:13:42
La temperatura en Peru: 21 °C
La sesacion termica: 21 °C
Fecha:  2023-01-05 22:13:52
La temperatura en Peru: 21 °C
La sesacion termica: 21 °C
Fecha:  2023-01-05 22:14:02
La temperatura en Peru: 21 °C
La sesacion termica: 21 °C

                 Fecha Temperatura Sensacion termica
0  2023-01-05 22:12:29       21 °C             21 °C
0  2023-01-05 22:12:40       21 °C             21 °C
0  2023-01-05 22:12:50       21 °C             21 °C
0  2023-01-05 22:13:00       21 °C             21 °C
0  2023-01-05 22:13:11       21 °C             21 °C
0  2023-01-05 22:13:21       21 °C             21 °C
0  2023-01-05 22:13:31       21 °C             21 °C
0  2023-01-05 22:13:42       21 °C             21 °C
0  2023-01-05 22:13:52       21 °C             21 °C
0  2023-01-05 22:14:02       21 °C             21 °C

## TRABAJO FINAL

In [23]:
#Realizamos un loop por año y mes
#!pip install xlsxwriter
#Codigo Generador de datos
## Este codigo genera el archivo base donde van a trabajar , les dejo el codigo para que lo tengan
path = r'C:\Users\LUIGGI\Desktop\Curso_ETL_Python\ETL DATASET\Tarea carga'
df = pd.read_excel(files[2])
for y in year:
    if not os.path.exists(path+"\\"+str(y)):
            os.mkdir(path+"\\"+str(y))
    writer = pd.ExcelWriter(path+"\\"+str(y)+"\\"+'anual.xlsx', engine='xlsxwriter')
    for m in month:
        tmp_csv = df[(df['Order Date'].dt.year==y) & (df['Order Date'].dt.month==m)&  (df['Data_origen']==0)  ]
        tmp_excel = df[(df['Order Date'].dt.year==y) & (df['Order Date'].dt.month==m)&  (df['Data_origen']==1)  ]
        #Si la ruta no existe la creara
        tmp_excel.to_excel( writer,sheet_name = dic.get(m),index=False)
        tmp_csv.to_csv(path+"\\"+str(y)+"\\"+dic.get(m)+".csv",index=False)
    writer.close()
    
##### Solo cambiar el path del codigo

In [6]:
## Tips para realizar la tarea
path = r'C:\Users\LUIGGI\Desktop\Curso_ETL_Python\ETL DATASET\Tarea carga'
#pista utilice estos codigos para ver los xlsx y los csv , debe utilizar loops para cargar los archivos
flujo_excel = glob.glob(f'{path}/*/*.xlsx', recursive=True)
flujo_csv =glob.glob(f'{path}/*/*.csv', recursive=True)

In [9]:
#para el flujo csv
# Creamos una lista en blanco para cargar los datasets
li = []
# Realizaremos un loop sobre cada archivo, lo leeremos y lo juntaremos.

for f in flujo_csv:
    # Leemos el archivo
    temp_df = pd.read_csv(f ,sep=',')
    # agregamos a la lista los dataframes
    li.append(temp_df)
    #print(f'Dataframe creado exitosamente para {f} con un tamañao {temp_df.shape}')

# Uniremos todos los dataframe en uno
df_csv = pd.concat(li, axis=0)

In [13]:
#Flujo Excel
li = []
# Realizaremos un loop sobre cada archivo, lo leeremos y lo juntaremos.
for f in flujo_excel:
    # Leemos el archivo
    wb = openpyxl.load_workbook(f)
    #leer las hojas
    hojas_Excel = wb.sheetnames
    # creear un loop que entre y jale la informacion de cada pestaña
    df_Excel = []
    for hoja in hojas_Excel:
        tmp = pd.read_excel(f,sheet_name = hoja ) 
        df_Excel.append(temp_df)
    df_excel_consolidado = pd.concat(df_Excel, axis=0)

    # agregamos a la lista los dataframes
    li.append(df_excel_consolidado)
    #print(f'Dataframe creado exitosamente para {f} con un tamañao {temp_df.shape}')

# Uniremos todos los dataframe en uno
df_Excel = pd.concat(li, axis=0)

In [16]:
#Finalmente consolido tanto el excel como el csv

df_final = df_Excel.append(df_csv)

C:\Users\LUIGGI\AppData\Local\Temp\ipykernel_10860\3028009854.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_final = df_Excel.append(df_csv)

In [ ]:
df_final.to_csv("datos_final")

In [12]:
#tips 2 este codigo permite visualizar las pestañas de cada archivo excel, se debe realizar un loop sobre cada archivo excel
import openpyxl
wb = openpyxl.load_workbook(path +'\\2014\\anual.xlsx')
print(wb.sheetnames)

['Noviembre', 'Junio', 'Octubre', 'Abril', 'Diciembre', 'Mayo', 'Agosto', 'Julio', 'Septiembre', 'Enero', 'Marzo', 'Febrero']

In [26]:
#tips 3
# Para cargar una hoja especifica de un excel se debe realizar lo siguiente
tmp = pd.read_excel(path +'\\2014\\anual.xlsx',sheet_name = 'Noviembre' ) 
tmp.head(5)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Data_origen
0,79,US-2014-147606,2014-11-26,2014-12-01,Second Class,JE-15745,Joel Eaton,Consumer,United States,Houston,...,Central,FUR-FU-10003194,Furniture,Furnishings,"Eldon Expressions Desk Accessory, Wood Pencil ...",19.30,5,0.6,-14.4750,1
1,183,CA-2014-158274,2014-11-19,2014-11-24,Second Class,RM-19675,Robert Marley,Home Office,United States,Monroe,...,South,TEC-PH-10003273,Technology,Phones,AT&T TR1909W,503.96,4,0.0,131.0296,1
2,184,CA-2014-158274,2014-11-19,2014-11-24,Second Class,RM-19675,Robert Marley,Home Office,United States,Monroe,...,South,TEC-PH-10004896,Technology,Phones,Nokia Lumia 521 (T-Mobile),149.95,5,0.0,41.9860,1
3,319,CA-2014-164973,2014-11-04,2014-11-09,Standard Class,NM-18445,Nathan Mautz,Home Office,United States,New York City,...,East,TEC-MA-10002927,Technology,Machines,Canon imageCLASS MF7460 Monochrome Digital Las...,3991.98,2,0.0,1995.9900,1
4,320,CA-2014-164973,2014-11-04,2014-11-09,Standard Class,NM-18445,Nathan Mautz,Home Office,United States,New York City,...,East,TEC-PH-10004093,Technology,Phones,Panasonic Kx-TS550,275.94,6,0.0,80.0226,1

In [ ]:
#Debe cargar todos los archivos tanto en csv y en excel y unirlos todo en un solo file
#Deben guardar el archivo final en la carpeta con el nombre consolidado.xlsx

#enviar el codigo final en un word con fotos del proceso.

In [ ]:
## Tips para realizar la tarea
path = r'C:\Users\LUIGGI\Desktop\Curso_ETL_Python\ETL DATASET\Tarea carga'
#pista utilice estos codigos para ver los xlsx y los csv , debe utilizar loops para cargar los archivos
flujo_excel = glob.glob(f'{path}/*/*.xlsx', recursive=True)
flujo_csv =glob.glob(f'{path}/*/*.csv', recursive=True)

#para el flujo csv
# Creamos una lista en blanco para cargar los datasets
li = []
# Realizaremos un loop sobre cada archivo, lo leeremos y lo juntaremos.

for f in flujo_csv:
    # Leemos el archivo
    temp_df = pd.read_csv(f ,sep=',')
    # agregamos a la lista los dataframes
    li.append(temp_df)
    #print(f'Dataframe creado exitosamente para {f} con un tamañao {temp_df.shape}')

# Uniremos todos los dataframe en uno
df_csv = pd.concat(li, axis=0)

#Finalmente consolido tanto el excel como el csv

df_final = df_Excel.append(df_csv)

df_final.to_csv("datos_final")